@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900.0,1000;1;200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}

:root {
    --bg-color: #021426;
    --snd-bg-color: #ffcbc8;
    --text-color: #2f0a08;
    --main-color: #c91959;
    --txt-color: #fefefe;
}


html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--txt-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--txt-color);
    font-weight: 700;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.3s, color 0.3s;
}
.logo:hover {
    transform: scale(1.1);
    color: var(--main-color);
}


.navbar a {
    position: relative;
    font-size: 1.5rem;
    color: var(--txt-color);
    margin-left: 4rem;
    font-weight: 700;
    transition: color 0.5s;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid var(--bg-color);
    border-radius: 30px;
    margin-left: 10px;
}
.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: transform 0.3s ease-in-out, background-color 0.3s;
    transform-origin: center bottom;
    transform: scaleX(0);
}

.navbar a:hover {
   color: var(--main-color);
   border-color: var(--bg-color);
}

.navbar a.active {
   color: var(--main-color);
   border-color: var(--main-color);
}
#menu-icon {
    font-size: 3.6rem;
    color: var(--txt-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
}

.home-img img {
    width: 25vw;
    border-radius: 50%;
    justify-content: center;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
    scroll-behavior: smooth;
}

.btn:hover {
    box-shadow: none;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}

.about-img img {
    width: 35vw;
    border-radius: 10%;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
    color: var(--text-color);
}

.about-content h3 {
    font-size: 2.6rem;
    color: var(--text-color);
}

.about-content p {
    font-size: 2rem;
    margin: 2rem 0 3rem;
    color: var(--text-color);
}


.Certifications h2 {
    margin-bottom: 5rem;
}

.Certifications-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.Certifications-container .Certifications-box {
    flex: 1 1 30rem;
    background: var(--snd-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 2px solid var(--bg-color);
    transition: 0.5s ease;
}

.Certifications-container .Certifications-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.Certifications-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.Certifications-box h3 {
    font-size: 3.6rem;
    color: var(--text-color);
}

.Certifications-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    color: var(--text-color);
    text-align: left;
}
.Experience {
    background: var(--snd-bg-color);
}

.Experience h2 {
    margin-bottom: 4rem;
    color: var(--text-color);
}

.Experience-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 8rem;
}

.Experience-container .Experience-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    padding: 3rem 2rem 4rem;
}

.Experience-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transition: transform 0.5s ease;
}

.Experience-box:hover {
    transform: scale(1.1);
}

.Experience-box h4 {
    font-size: 30px;
    padding: 10px;
}
.Experience-box p {
    font-size: 20px;
    padding: 10px;
}

.Projects h2 {
    margin-bottom: 5rem;
}

.Projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.Projects-container .Projects-box {
    flex: 1 1 30rem;
    background: var(--snd-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 2px solid var(--bg-color);
    transition: 0.5s ease;
}

.Projects-container .Projects-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.Projects-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.Projects-box h3 {
    font-size: 3.6rem;
    color: var(--text-color);
}

.Projects-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    color: var(--text-color);
}

.Extrac {
    background: var(--snd-bg-color);
}

.Extrac h2 {
    margin-bottom: 4rem;
    color: var(--text-color);
}

.Extrac-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 8rem;
}

.Extrac-container .Extrac-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    padding: 3rem 2rem 4rem;
}

.Extrac-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transition: transform 0.5s ease;
}

.Extrac-box:hover {
    transform: scale(1.1);
}

.Extrac-box h4 {
    font-size: 30px;
    padding: 10px;
}
.Extrac-box p {
    font-size: 20px;
    padding: 10px;
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--snd-bg-color);
    border-radius: 0.8rem;
    margin: 0.7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3%;
    }

    .Certifications {
        padding: 7rem;
    }

    .Experience {
        padding-bottom: 7rem;
    }
    .Projects {
        padding: 7rem;
    }

    .contact {
        min-height: auto;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar-active {
        display: block;
    }
    
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 90vw;
        margin-top: 4rem;
    }

    .home-content {
        order: 2;
    }

    .about {
        flex-direction: column;
    }
    
    .about-img img {
        width: 90vw;
        margin-top: 4rem;
    }

    .Certifications h2 {
        margin-bottom: 3rem;
    }
    
    .Experience h2 {
        margin-bottom: 3rem;
    }

    .Experience-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .Experience-box {
        margin-bottom: 3rem;
    }
}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }

    .home-img img{
        width: 80vw;
        margin-top: 8rem;
    }

    .about-img img {
        width: 100vm;
        margin-top: 4rem;
    }
}

@media(max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%
    }
}
@media screen and (max-width: 768px) {
    .Experience-container , .Extrac-container {
        grid-template-columns: 1fr;
    }

}